body {
    font-family: "Source Sans Pro", sans-serif;
    color: #8a949b;
    background-color: #f9f9f9;
}

a,
a:hover {
    color: #28af52;
}

/*
 * AUTHENTICATION
 */

.tbr_auth_container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tbr_auth_card {
    background: rgba(255, 255, 255, 0.95);
    border-radius: 10px;
    border-color: transparent;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
        0px 4px 6px -2px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
        0px 4px 6px -2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
        0px 4px 6px -2px rgba(0, 0, 0, 0.05);
    width: 100%;
    max-width: 460px;
    padding: 40px 40px;
    margin: 100px 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/**
 *
 * TEXT
 *
 */

.tbr_text-primary {
    color: #28af52;
}

/**
 *
 * BUTTON
 *
 */

.tbr_btn-primary {
    font-weight: 600;
    padding: 0.4rem 1.25rem;
    background-color: #28af52;
    color: #fff;
}

.tbr_btn-primary:hover {
    color: #fff;
}

/**
  *
  * CUSTOM FORM
  *
  */

html .form-control {
    border: 2px solid #eeeeee;
}

html .form-control:focus {
    border-color: #8ccc54;
    box-shadow: 0 0 0 0.2rem rgb(140 204 84 / 25%);
}

.custom-radio label:before {
    margin-top: -1.8px;
}

.custom-radio .custom-control-label::after {
    margin-top: -1.8px;
}

.custom-radio input[type="radio"]:checked + label:after,
.custom-radio input[type="radio"]:checked + label:after {
    background-color: #f9f9f9;
    background-image: none;
}

.custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 0.2rem rgb(40 175 82 / 25%);
}

.custom-checkbox .custom-control-label::before {
    width: 18px;
    height: 18px;
    background: #dddddd;
    border-radius: 3px !important;
    border: none;
    top: 3px;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #28af52;
    border-color: transparent;
}

.custom-checkbox .custom-control-label::after {
    top: 3px;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
    width: 18px;
    height: 18px;
    background-image: url("../../../svg/bg_checkbox.svg");
    background-position: center !important;
    background-size: 66%;
}
